/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toast-container .ngx-toastr {
  width: 450px !important;
}

 /* common styles for trainer and catalogue component */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  max-width: 400px;
  margin: 10px;
  text-align: center;
  padding: 10px;
min-width: 210px;
}

.button-div {
  margin: 20px;
}

.button-div>button {
  margin-right: 10px;
}

.card-image {
  width: auto;
}

.pokemon-name {
  font-size: 20px;
}


button{
   display: inline-block;
   line-height: 50px;
   text-align: center !important;
}
